<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
  <a class="navbar-brand" href="#">Kobi's Books Application</a>
</nav>

<main role="main" class="container">
  <div class="jumbotron" *ngFor="let book of books">
    <h4>{{book.BookTitle | formatTitle}}</h4>
    <p class="lead">
      By: {{book.AuthorsName}}<br>
      Published: {{book.PublishedDate | date: 'd/M/y'}}<br>
      Catalog Number: {{book.Id}}<br>
    </p>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary edit-modal" (click)="onBookEdit(book, template)">
      Edit Book
    </button>
  </div>
</main>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Book</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-group">
          <label for="txtId">Id Number</label>
          <input type="text" class="form-control" name="txtId" [(ngModel)]="BookEditForm.Id" disabled>
          
        </div>
        <div class="form-group">
          <label for="txtBookTitle">Book Title</label>
          <input type="text" class="form-control" name="txtBookTitle" [(ngModel)]="BookEditForm.BookTitle" [ngClass]="{'invalid': isSubmited && !isnullOrEmpty(BookEditForm.BookTitle)}">
          <div class="invalid-feedback" [ngClass]="{'invalid': isSubmited && !isnullOrEmpty(BookEditForm.BookTitle)}">Please fill Book Title</div>
        </div>
        <div class="form-group">
          <label for="txtAuthorsName">Author Name</label>
          <input type="text" class="form-control" name="txtAuthorsName" [(ngModel)]="BookEditForm.AuthorsName" [ngClass]="{'invalid': isSubmited && !isnullOrEmpty(BookEditForm.AuthorsName)}">
          <div class="invalid-feedback" [ngClass]="{'invalid': isSubmited && !isnullOrEmpty(BookEditForm.AuthorsName)}">Please fill author's name</div>
        </div>
        <div class="form-group">
          <label for="txtPublishedDate">Date Of Publish</label>
          <input type="text" class="form-control" name="txtPublishedDate" [(ngModel)]="BookEditForm.PublishedDate" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD 00:00:00' }" placement="top">
          
        </div>  
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onSave()">Save</button>
  </div>
</ng-template>

