<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
  <a class="navbar-brand" href="#">Kobi's Books Application</a>
</nav>

<main role="main" class="container">
  <button (click)="getData()" #butGetData style="display: none">get data</button>
  
  <div class="jumbotron">
    <button type="button" class="btn btn-primary edit-modal" (click)="onBookAdd(templateAdd)">
      Add New Book
    </button>
  </div>

  <div class="message" [ngClass]="{'noRecs': noRecs }">You have no books</div>
  
  <div class="jumbotron" *ngFor="let book of books">
    <h4>{{book.volumeInfo.title | formatTitle}}</h4>
    <p class="lead">
      By: {{book.volumeInfo.authors[0]}}<br>
      Published: {{book.userInfo.updated | date: 'd/M/y'}}<br>
      Catalog Number: {{book.id}}<br>
    </p>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary edit-modal" (click)="onBookEdit(book, template)">
      Edit Book
    </button>
    &nbsp;
    <button type="button" class="btn btn-primary edit-modal" (click)="onDeleteBook(book, templateDelete)">
      Delete Book
    </button>
  </div>
</main>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Book</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-group">
          <label for="txtId">Id Number</label>
          <input type="text" class="form-control" name="txtId" [(ngModel)]="BookEditForm.id" disabled>
          
        </div>
        <div class="form-group">
          <label for="txtBookTitle">Book Title</label>
          <input type="text" class="form-control" name="txtBookTitle" [(ngModel)]="BookEditForm.volumeInfo.title" [ngClass]="{'invalid': isSubmited && !isnullOrEmpty(BookEditForm.volumeInfo.title)}">
          <div class="invalid-feedback" [ngClass]="{'invalid': isSubmited && !isnullOrEmpty(BookEditForm.volumeInfo.title)}">Please fill Book Title</div>
        </div>
        <div class="form-group">
          <label for="txtAuthorsName">Author Name</label>
          <input type="text" class="form-control" name="txtAuthorsName" [(ngModel)]="BookEditForm.volumeInfo.authors[0]" [ngClass]="{'invalid': isSubmited && !isnullOrEmpty(BookEditForm.volumeInfo.authors[0])}">
          <div class="invalid-feedback" [ngClass]="{'invalid': isSubmited && !isnullOrEmpty(BookEditForm.volumeInfo.authors[0])}">Please fill author's name</div>
        </div>
        <div class="form-group">
          <label for="txtPublishedDate">Date Of Publish</label>
          <input type="text" class="form-control" name="txtPublishedDate" [(ngModel)]="BookEditForm.userInfo.updated" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DDT00:00:00.000Z' }" placement="top">
          
        </div>  
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onSave()">Save</button>
  </div>
</ng-template>

<ng-template #templateDelete>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete Book</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefDelete.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      Are you sure you want to delete this book?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onNo()">No</button>
    <button type="button" class="btn btn-primary" (click)="onYes()">Yes</button>
  </div>
</ng-template>

<ng-template #templateAdd>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Book</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefAdd.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="form-group">
        <label for="txtBookTitle">Search Book</label>
        <input  ngui-auto-complete
          [(ngModel)]="selected" 
          [source]="observableSource.bind(this)"  
          list-formatter="title" class="form-control" (valueChanged)="customCallback($event)" />
      </div>
      <hr>
      Selected Book:<br>
      Title: {{selectedBook.title}}<br>
      Author: {{selectedBook.author}}<br>
      Id: {{selectedBook.id}}<br>
      
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onCancelAdd()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onSaveAdd()">Save</button>
  </div>
</ng-template>